@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components{
    .headList{
        @apply p-2 font-semibold tracking-wider sm:p-3
    }
    .headList:hover{
        @apply sm:bg-zinc-200
    }
    .headList a{
        @apply sm:p-4
    }
    .headList a:hover{
        @apply text-purple-800
    }
}
@layer base{
    h1{
            font-family: "Madimi One", sans-serif;
            font-weight: 400;
            font-style: normal;
    }
}